<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" href="/public/img/icon.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
<script src="https://cdn.tailwindcss.com"></script>
<script>
  tailwind.config = {
    theme: {
      extend: {
        fontFamily: {
          sans: ['Inter', 'sans-serif'],
        },
      }
    }
  }
</script>
</head>
<body>
        <section class="h-screen">
            <div class="container px-6 py-12 h-full">
              <div class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800">
                <div class="md:w-8/12 lg:w-6/12 mb-12 md:mb-0">
                  <img
                    src="/public/img/logo_shop.png"
                    class="w-full"
                    alt="logo image"
                  />
                </div>
                <div class="md:w-8/12 lg:w-5/12 lg:ml-20">
                  <form>
                    <!-- Email input -->
                    <div class="mb-6">
                      <input
                        type="text"
                        class="drop-shadow-lg form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-cyan-900 focus:outline-none"
                        placeholder="Email address"
                      />
                    </div>
          
                    <!-- Password input -->
                    <div class="mb-6">
                      <input
                        type="password"
                        class="drop-shadow-lg form-control block w-full px-4 py-2 text-xl font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-cyan-800 focus:outline-none"
                        placeholder="Password"
                      />
                    </div>
          
                    <div class="flex justify-between items-center mb-6">
                      <div class="form-group form-check">
                        <input
                          type="checkbox"
                          class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-cyan-800 checked:border-cyan-800 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer"
                          id="exampleCheck3"
                          disabled
                        />
                        <label class="form-check-label inline-block text-gray-800" for="exampleCheck2"
                          >Remember me</label
                        >
                      </div>
                      <a
                        href="/auth/forgotpassword"
                        class="text-cyan-800 hover:text-cyan-900 focus:text-cyan-900 active:text-cyan-900 duration-200 transition ease-in-out"
                        >Forgot password?</a
                      >
                    </div>
          
                    <!-- Submit button -->
                    <button
                      type="submit"
                      class="drop-shadow-lg inline-block px-7 py-3 bg-cyan-800 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-cyan-900 hover:shadow-lg focus:bg-cyan-800 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-cyan-900 active:shadow-lg transition duration-150 ease-in-out w-full"
                      data-mdb-ripple="true"
                      data-mdb-ripple-color="light"
                    >
                      Sign in
                    </button>
          
                    <div
                      class="flex items-center my-4 before:flex-1 before:border-t before:border-gray-300 before:mt-0.5 after:flex-1 after:border-t after:border-gray-300 after:mt-0.5"
                    >
                      <p class="text-center font-semibold mx-4 mb-0">OR</p>
                    </div>
                    <div class="text-center">
                          You are not member? 
                          <a
                          href="/auth/register"
                          class="text-cyan-700 hover:text-blue-700 focus:text-cyan-900 active:text-cyan-900 duration-200 transition ease-in-out"
                          >Resgister</a
                        >      
                    </div>                       
                  </form>
                </div>
              </div>
              <div class="text-xs border-l-2 border-teal-900 ml-4 pl-2">
                  Cổng thông tin giao tiếp giữa Pallgree Shop và các bạn cộng tác viên
                  <br>
                  <a
                        href="https://www.instagram.com/pallgree.shop/"
                        class="text-pink-600 hover:text-pink-800 focus:text-pink-800 active:text-pink-800 duration-200 transition ease-in-out"
                        >Connect us with instagram</a
                      >
                  
               </div>   
            </div>
          </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
</html>