
<%- include('./component/header.ejs') -%>
    <!--- chart-->
    <div class="text-center mt-8 font-semibold">
        <h3>Chỉ số doanh thu của bạn</h3>
    </div>
    <div class="static grid grid-cols-2 gap-10 mt-2 mx-10">
        
        <div class="shadow-lg rounded-lg overflow-hidden">
            <div class="shadow-lg rounded-lg overflow-hidden">
                <canvas class="p-10" id="chartBar"></canvas>
              </div>
          </div>
   

<%- include('./component/footer.ejs') -%>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const labelsBarChart = [
        "Giao thành công",
        "Đang vận chuyển",
        "Đang chờ shop lên đơn",
        "Đơn bị boom"
    ];
    const dataBarChart = {
        labels: labelsBarChart,
        datasets: [
            {
                label: "Đơn hàng",
                backgroundColor: "hsl(252, 82.9%, 67.8%)",
                borderColor: "hsl(252, 82.9%, 67.8%)",
                data: [10, 2, 3],
            },
        ],
    }
    const configBarChart = {
        type: "bar",
        data: dataBarChart,
        options: {},
    }
    var chartBar = new Chart(
        document.getElementById("chartBar"),
        configBarChart
    );
</script>

</html >



 